body {
    margin: 0;
    padding: 0;
    font-family: 'Padauk', sans-serif;
}

.content-container {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 100vh;
    margin:0;
    padding:0;
}

.list-container {
    background-color: aliceblue;
    margin: 0;
    padding: 10px;
}

.task-container {
    background-color: white;
    margin: 0;
    padding: 10px;
}

.new-list-button {
    border-width: 0;
    padding: 5px 10px;
    margin-top: 15px;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    background-color: #7c8bff;
    color: #ecf0f1;
    transition: box-shadow background-color .2s;
}

.new-list-button:hover {
    background-color: #b19cd8
}

.new-list-button:focus {
    box-shadow: 0 1px 4px rgba(0,0,0,.8);
}

.new-list-button:active {
    background-color: #7c8bff;
}

.new-task-button {
    border-width: 0;
    padding: 5px 20px;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    background-color: #679a7d;
    color: #ecf0f1;
    transition: background-color .3s;
}

.new-task-button:hover {
    background-color: #aebc6e;
}

.new-task-button:focus {
    box-shadow: 0 1px 4px rgba(0,0,0,.8);
}

.new-task-button:active {
    background-color: #888888;
}

.new-list-input {
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    width: auto;
    margin-right: 30px;
}

.new-list-input:focus {
    outline: none;
}

.submit-list-button {
    border-width: 0;
    margin: 5px;
    padding: 5px 5px;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    background-color: #6dc091;
    color: #ecf0f1;
    transition: background-color .3s;
    align-items: center;
    text-align: center;
}

.submit-list-button:hover {
    background-color: #6ed37f;
}

.submit-list-button:focus {
    box-shadow: 0 1px 4px rgba(0,0,0,.8);
}

.submit-list-button:active {
    background-color: #888888;
}

.cancel-list-form-button {
    border-width: 0;
    margin: 5px;
    padding: 5px 5px;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    background-color: #c75f5f;
    color: #ecf0f1;
    transition: background-color .3s;
}

.cancel-list-form-button:hover {
    background-color: #eb5757;
}

.cancel-list-form-button:focus {
    box-shadow: 0 1px 4px rgba(0,0,0,.8);
}

.cancel-list-form-button:active {
    background-color: #888888;
}

.new-list-form-container {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 20px;
    margin: 25px 0 30px 0;
}

.edit-list-form-container {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    height: 20px;
    align-items: center;
}

/* */

.edit-list-input {
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    width: auto;
    margin-right: 30px;
}

.edit-list-input:focus {
    outline: none;
}

.save-list-button {
    border-width: 0;
    margin: 5px;
    padding: 5px 5px;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    background-color: #6dc091;
    color: #ecf0f1;
    transition: background-color .3s;
    align-items: center;
    text-align: center;
}

.save-list-button:hover {
    background-color: #6ed37f;
}

.save-list-button:focus {
    box-shadow: 0 1px 4px rgba(0,0,0,.8);
}

.save-list-button:active {
    background-color: #888888;
}

.cancel-edit-list-form-button {
    border-width: 0;
    margin: 5px;
    padding: 5px 0px;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    background-color: #c75f5f;
    color: #ecf0f1;
    transition: background-color .3s;
}

.cancel-edit-list-form-button:hover {
    background-color: #eb5757;
}

.cancel-edit-list-form-button:focus {
    box-shadow: 0 1px 4px rgba(0,0,0,.8);
}

.cancel-edit-list-form-button:active {
    background-color: #888888;
}

/* */

.list-row {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 20px;
    margin: 10px 0 10px 0;
    align-items: center;
}

.edit-list-button {
    border-width: 0;
    height: 20px;
    padding: 0px 5px;
    width: auto;
    margin: 5px;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    background-color: #6d87c0;
    color: #ecf0f1;
    transition: background-color .3s;
}

.edit-list-button:hover {
    background-color: #5c82ff;
}

.edit-list-button:focus {
    box-shadow: 0 1px 4px rgba(0,0,0,.8);
}

.edit-list-button:active {
    background-color: #888888;
}

.delete-list-button {
    border-width: 0;
    height: 20px;
    width: auto;
    margin: 5px;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    background-color: #c06d6d;
    color: #ecf0f1;
    transition: background-color .3s;
}

.delete-list-button:hover {
    background-color: #ff5c5c;
}

.delete-list-button:focus {
    box-shadow: 0 1px 4px rgba(0,0,0,.8);
}

.delete-list-button:active {
    background-color: #888888;
}

.active-list {
    color: black;
    font-weight: 700;
}

.inactive-list {
    color: rgb(137, 171, 182)
}

.inactive-list:hover {
    color: black;
    cursor: pointer;
}







/* 

.task-form-container {
    position: absolute;
    width:300px;
    padding: 10px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    border-radius: 5%;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin: 0, auto;
    top: 25%;
    left: 25%;
    background-color: white;
}

.task-form {
    display: grid;
    justify-content: center;
    margin:0;
    padding: 0px 0px 30px 0px;
}

.task-form-header {
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

.form-input {
    font-size: 10px;
    border: 1px black solid;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 10px;
}

.color-selector-container {
    margin: 0;
    padding: 0px 0px 10px 0px;
}

.color-selector {
    position: relative;
    width: 140px;
}

.color-selector select {
    display: none;
}

.color-ffffff {
    background: #ffffff;
}

.color-ff9aa2 {
    background: #ff9aa2;
}

.color-ffb7b2 {
    background: #ffb7b2;
}

.color-ffdac1 {
    background: #ffdac1;
}

.color-e2f0cb {
    background: #e2f0cb;
}

.color-b5ead7 {
    background: #b5ead7;
}

.color-c7ceea {
    background: #c7ceea;
}

.submit-task-button {
    border-width: 0;
    padding: 5px 20px;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    background-color: #679a7d;
    color: #ecf0f1;
    transition: background-color .3s;
}

.submit-task-button:hover,
.submit-task-button:focus {
    background-color: #aebc6e;
}

.submit-task-button:active {
    background-color: #888888;
} */